/* Reset */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* Body */
body{
    font-family: Arial, Helvetica, sans-serif;
    background:#f4f4f4;
    color:#333;
    line-height:1.6;
}

/* Navigation */
nav{
    background:#A569BD;
    padding:15px;
    text-align:center;
}

nav a{
    color:white;
    text-decoration:none;
    margin:0 15px;
    font-size:18px;
    font-weight:bold;
}

/* General links */
a {
    color: #A569BD; 
    text-decoration: none;
}

nav a:hover{
    color:#pink;
}

/* Headings */
h1{
    text-align:center;
    color:#A569BD;
    margin-top:20px;
}

h2{
   text-align: center;
    color:#A569BD;
    margin:20px 0 10px;
}

h3{
    margin-top:15px;
}

/* Paragraphs */
p{
    margin:10px 20px;
    text-align:justify;
}

/* Sections */
section{
    width:90%;
    max-width:900px;
    margin:20px auto;
    background:white;
    padding:20px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
}

/* Images */
img{
    display:block;
    margin:20px auto;
    width:550px;
max-width: 95%
    border-radius:20%;
object-fit: cover;
box-shadow: 0 10px 30px
rgba(0,0,0,0.2);
}.

/* Lists */
ul{
    margin-left:40px;
}

li{
    margin:10px 0;
}

/* Buttons */
button{
    background:#A569BD;
    color:white;
    border:none;
    padding:10px 20px;
    border-radius:5px;
    cursor:pointer;
    margin:10px;
    font-size:16px;
}

.intro{
  text-align: center;
  
}
.intro p{
  text-align: center;
}
.intro h2{
  text-align: center;
}
button:hover{
    background:#084298;
}

/* Tables (Resume page) */
table{
    width:100%;
    border-collapse:collapse;
    margin-top:20px;
}

table, th, td{
    border:1px solid #ccc;
}

th{
    background:#A569BD;
    color:white;
}

th, td{
    padding:10px;
    text-align:left;
}

/* Form (Contact page) */
form{
    width:100%;
}

input,
textarea{
    width:100%;
    padding:10px;
    margin:10px 0;
    border:1px solid #ccc;
    border-radius:5px;
}

textarea{
    resize:vertical;
}

/* Footer */
footer{
    background:#A569BD;
    color:white;
    text-align:center;
    padding:15px;
    margin-top:30px;
}

/* Quote */
blockquote{
    font-style:italic;
    text-align:center;
    margin:20px;
    color:#555;
}

/* Responsive Design */
@media(max-width:768px){

    nav a{
        display:block;
        margin:10px 0;
    }

    img{
        width:150px;
        height:150px;
    }

    section{
        width:95%;
    }
}